{
 :main "devdemos.start-ui"
 ;; :devcards true
 :asset-path "site/out"
 :output-to "site/devdemos.js"
 :output-dir "site/out"
 :devcards true
 ;; :pseudo-names true
 :recompile-dependents true
 ;; :optimizations :simple
 :optimizations :advanced
 }
